.search-container {
  height: 65px;
  width: 100vw;
  background-color: #2ca5d8;
  display: flex;
  justify-content: left;
  flex-direction: row;
}
.searchbar-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
input {
  border: none;
  outline: none;
  color: white !important;
  background-color: #2ca5d8;
}
::placeholder {
  color: white;
}

form {
  margin-left: 280px;
  position: absolute;
}
